<% provide(:title, "Account Settings") %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-md-offset-4 form">
    <h2><%= current_donor.fullname %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <% if resource.errors.any? %> <% resource.errors.full_messages.each do |msg| %>
         <div class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Failure! </strong> <%= sanitize(msg) %> 
        </div> 
       <% end %>
     <% end %>

        <div class "field">
          <%= f.label :fullname %><br />
          <%= f.text_field :fullname, autofocus: true %>
        </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
 
      <div class="field">
      <%= f.label  :gender %>
      <%= f.select :gender, [['MALE', :male], ['FEMALE', :female]], class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :country%><br />
      <%= country_select( "donor", :country, { include_blank: 'Select your country',format: :with_country_code}) %>
    </div>

    <div class="field">
      <%= f.label :phone%><br />
      <%= f.text_field :phone %>
    </div>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      <% unless current_donor.is_authenticated_from_facebook? %>
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "UPDATE", class: "btn btn-md btn-info"%>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p><%= button_to "CANCEL MY ACCOUNT", registration_path(resource_name), data: { confirm: "Are you sure about cancelling your account?" }, method: :delete, class: "btn btn-md btn-danger"%></p>


    <%= link_to "Back", :back %>

  </div>
  
</div>
