
<h1> Sender Details </h1>
<span> Name:    <%= @sender %> </span><br /> 
<span> Email:   <%= @sender_email %> </span><br />
<span> Message: <%= @message.message %> </span><br />
<span> Amount:  <%= @amount %> </span>

<hr>

<h1> Receiver Details </h1>
<span> Name:  <%= @message.name %> </span><br />
<span> Email: <%= @message.email %></span>
<hr>
