<div class="container">
	<div class="row">
		<div class="GivingClassroomday">
		<!--<h1>GivingTuesday.<br>is GivingClassroomday!!</h1>-->
		<h2>This Season,<br><b>Give quality education to children in need.</b></h1>
		</div>
	</div>
	<section class="bigview">
		<div class="row">
			<div class="col-sm-7 givingImage">
				<%= image_tag 'akoto.jpg', :class => "img-responsive" %>
			</div>
	  		<div class="col-sm-4 givingText">
	  			<div>
	  				<h2>Today, support teachers with the resources they need.</h2>
	  			</div>
	  			<div>
	  				<span>
	  					<div> <h4>Goal : $10,000</h4></div>
	  					<div> <h4>Average cost each: $200</h4></div>
	  					<div> <h4>Total clasroom projects: 50</h4></div>
	  					<div> <h4>Number of student: 1000+</h4></div>
	  				</span>
	  			</div>

				<div>
						<a href="https://rave.flutterwave.com/pay/givingtuesday" id="story-btn" class="btn btn-success" role="button"><b>Give Today</b></a>

				</div>
				<div class="monthly-button">
						<a href="https://rave.flutterwave.com/pay/give-monthly" id="" class="btn btn-success" role="button"><b>Give Monthly</b></a>

				</div>
			</div>

	    </div>
	</section>

	<section>
		<div class="container">
			<div class="givingStory">
				<div>
					<h2><b>Support teachers and classrooms. Empower the world.</b></h2>
				</div>
				<div class="givingmsg">
					<p>
						 "We are in the midst of a global learning crisis: 617 million children and adolescents are not proficient in either reading or mathematics -World Economic Forum. Teachers like Richard Akoto are doing their best to help children.

					</p>
					<p>
						<b> This holiday season, Crowdfrica is launching an end-of-year Classroom Project Funding campaign.</b> We are collaborating with Richard Appiah Akoto (the passionate blackboard ICT teacher who recently went viral) to advocate for all public school teachers and their students in Africa. We have asked teachers across Africa to submit project requests for materials and experiences their students need to learn. Please donate to make these classroom projects come to life this holiday season.
					</p>
					<p>
						 <b>“ My students need Internet to learn 21st century skills”.</b> Individuals and companies who give a donation of any amount will get updates from the classroom with photos , Thank yous, and receipts to show how every dollar was spent.

					</p>
					<p>
						Together, we can empower communities to improve learning in the classroom. Let us build a better future for all children and promote prosperity in Africa.
					</p>
				</div>

			</div>

			<div class="giveToday-button">
				<a href="https://rave.flutterwave.com/pay/givingtuesday" id="story-btn" class="btn btn-success btn-lg" role="button"><b>Give Today</b>
				</a>
			</div>


		</div>

	</section>

	<section class="story-sect">
		<div class="container">
			<div class="row">
				<div class="col-md-6 akoto-abt">

				<%= image_tag 'richard2.jpg', :class => "img-responsive" %>
				</div>
				<div class="col-md-6 story-abt-text">
					<h2><b>About Richard, The blackboard ICT teacher</b></h2>

					<div class="story-abt-text2">


Teaching kids how to use a computer is hard enough already, since they’re kids, but just try doing it without any computers. That was the task undertaken by Richard Appiah Akoto in Ghana, and his innovative (and labor-intensive) solution was to draw the computer or application on the blackboard in great detail. His hard work went viral and now Microsoft has stepped in to help out.- <a href="https://techcrunch.com/2018/03/15/teacher-in-ghana-who-used-blackboard-to-explain-computers-gets-some-microsoft-love/"><b>Techcrunch</b></a>
					</div>

				</div>
			</div>
		</div>


		<section class="OurValues">
           <div class="container">
               <h2 class="section-title"><b>Richard's story was shared on</b></h2>

               <div class="row">
               		<div class="MentioneOn">
		             	<div class="col-md-3 logo">
		             		<%= inline_svg_tag "cnn.svg", class: 'wicons' %>
		             	</div>
		               	<div class="col-md-3 logo1">
		               		<%= inline_svg_tag "w.svg", class: 'wicons' %>
		               	</div>
		               	<div class="col-md-3  logo2">
		               		<%= inline_svg_tag "b.svg", class: 'wicons' %>
		               	</div>
		               	<div class="col-md-3 logo3">
		               		<%= image_tag 'techcrunch-logo.png', :class => "img-responsive" %>
		               	</div>
            		</div>

               </div>

           </div>
    </section>


	</section>

	<section class="OurValues">
           <div class="container">
               <h2 class="section-title"><b>Partners</b></h2>

               <div class="row">
               		<div class="MentioneOn">
		             	<div class="col-md-3 Givingpartner">
		             		<%= image_tag 'impactHub_ny.jpg', :class => "img-responsive" %>
		             	</div>
		               	<!--<div class="col-md-3 Givingpartner1">
		             		<%= image_tag 'impactHub_ny.jpg', :class => "img-responsive" %>
		             	</div>
		               	<div class="col-md-3 Givingpartner2">
		             		<%= image_tag 'impactHub_ny.jpg', :class => "img-responsive" %>
		             	</div>
		               	<div class="col-md-3 Givingpartner3">
		             		<%= image_tag 'impactHub_ny.jpg', :class => "img-responsive" %>
		             	</div>-->
            		</div>

               </div>

           </div>
    </section>


</div>
