<div id="mobileMoney" data-target="payment-selector.form" class="col-md-12" style="display: none">
  <div class="col-md-12">
    <%= image_tag "hubtelcardoptions.png", class: "hubtelcards" %>
    <div class="Donors text-left white-box side-bar margin-top-md">
      <div class="USSD">
        <h4> <b>Mobile Money Donation</b></h4>
          <p>
            Dial
              <span class="crwd-text-color"><b>*789*11#</b></span>  on your phone.<br>
              Enter campaign code <span class="crwd-text-color"><b><%= @campaign.id %></b></span> and proceed to donate with any network. No E-Levy.
              <hr>
              Quick dial <span class="crwd-text-color"><b>*789*11*<%= @campaign.id %>#</b></span>
              </p><hr>
      </div>
      <div class="USSD">
        <h4> <b>Bank Card(Ghana only)</b></h4>
          <p>
            Paypal updates are not allowing donors with local bank cards to give. The LINK bellow enables you to still help an amazing cause.
            Donations will be confirmed and added in less than 10 minutes.</p>
                
            Enter campaign code <span class="crwd-text-color"><b><%= @campaign.id %></b></span> and proceed to donate instantly.
              <hr>
               <a href="https://paystack.com/pay/crowdfrica">Donate with bank card here</a>
              </p>
      </div>
    </div>
    <h3 class="title">
      You're donating Ghs <%= "#{(amount.to_f * rate).round(2)} to #{campaign.name_of_beneficiary}" %>
    </h3>
    <div class="payments_icon">
      <%= image_tag("", class: "img-responsive") %>
    </div>
  </div>
</div>
