<div class="col-xs-12 col-sm-6 col-md-4 card crwd-card">
  <div class="campaign-card-small">
    <div class="campaign-img">
      <%= link_to image_tag(obj.campaign_image_url, class: 'img-responsive', style: 'width: 100%; object-fit: cover'), campaign_path(obj), class: 'camp-card-lnk', data: {'campaign-id' => obj.id} %>
    </div>

    <div class="campaign-title">
      <h6><strong><%= obj.campaign_name %></strong></h6>
    </div>

    <div class="campaign-brief">
      <p> <%= obj.campaign_headline %> </p>
    </div>

    <div class="donate-btn">
      <% if obj.progress >= 100 %>
        <%= link_to "Fully Funded", campaign_path(obj), class: "btn btn-md btn-success btn-on-card", id: "card-dn-btn", data: {'campaign-id' => obj.id} %>
      <% else %>
        <%= link_to "Donate", campaign_path(obj), class: "btn btn-md btn-warning btn-on-card", id: "card-dn-btn", data: {'campaign-id' => obj.id} %>
      <% end %>
    </div>

    <%# <div class="Provider-id"> %>
    <%# <p><b> Healthcare Provider</b></p> %>
    <%# <p> Apam Catholic Hospital. Ghana</p> %>
    <%# </div> %>

    <div class="progress-card">
      <div class="progress-bar progress-bar-<%= obj.progress >= 100 ? 'success' : 'warning' %>" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%= obj.progress %>%">
      </div>
    </div>

    <div class="campaign-data">
      <% if obj.progress >= 100 %>
        Fully Funded <span class="glyphicon glyphicon-ok"></span>
      <% else %>
        <%= number_to_currency(obj.still_needed) %> still needed
      <% end %>
    </div>
  </div>
</div>
