<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= render 'layouts/shared/meta_tags/mixpanel' %>
    <%= render 'layouts/shared/meta_tags/open_graph' %>

    <title><%= page_title(yield :title) %></title>
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans|Ubuntu:400,700|Droid+Sans"/>

    <%= render 'layouts/shared/google_analytics' %>
    <%= render 'layouts/shared/facebook_pixel' %>
    <%= render 'layouts/shared/mixpanel' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F33E8D4BWK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-F33E8D4BWK');
    </script>
  </head>
  <body id="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGG946M"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="container-fluid">
      <%= render 'layouts/navigation' %>
      <%= render 'shared/flash' %>
      <%= yield %>
  
      <%= render 'layouts/footer' %>
      <% unless donor_signed_in? %>
        <%= render 'shared/sign_in' %>
        <%= render 'shared/sign_up' %>
      <% end %>
      <% if cookies[:allow_cookies].blank? %>
        <%= render 'shared/cookies_bar' %>
      <% end %>
    </div>
    <%# <div class="contain"> <%= debug(params) if Rails.env.development? %1> </div> %>

    <!-- Don't move this file -->
    <%= render 'layouts/shared/tawk_to' %>
  </body>
</html>
